{% extends "default.html.twig" %}

{% block title %}Notification de {% endblock %}

{% block stylesheet %}
<link href="/../public/css/notification.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<h1>test</h1>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% endblock %}