{% extends "default.html.twig" %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block stylesheet %}
<link href="/../public/css/reset_password.css" rel="stylesheet">
{% endblock %}

{% block header %}
{# {% include 'header.html.twig' %} #}
{% endblock %}

{% block body %}
<div class="container-form">
    <form class="form" action="/reset-password" method="post">
        <p class="title">Réinitialiser le mot de passe</p>
        <label>
            <input required="" placeholder="Token" name="token" type="text" class="input">
            <span>Token de vérification</span>
        </label>
        <label>
            <input required="" placeholder="" name="newPassword" type="password" class="input">
            <span>Nouveau mot de passe</span>
        </label>
        <button class="submit" name="submit" type="submit">Réinitialiser</button>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        {% if success %}
            <div class="success-message">{{ success }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}
