{% extends "default.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheet %}
<link href="/../public/css/forgot_password.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-form">
    <form class="form" action="/forgot-password" method="post">
        <p class="title">Mot de passe oublié</p>
        <p class="message">Entrez votre email pour réinitialiser votre mot de passe.</p>
        <label>
            <input required="" placeholder="" name="email" type="email" class="input">
            <span>Email</span>
        </label>
        <button class="submit" name="submit" type="submit">Envoyer</button>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        {% if success %}
            <div class="success-message">{{ success }}</div>
        {% endif %}
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}
