

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #eeeeee;
    margin: 10% auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 50%;
    height: 70%;
    border-radius: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#formAddPost {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formAddPost input {
    margin-bottom: 1em;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.inputField {
    margin-top: 1em;
    width: 20em;
    height: 1.5em;
    border-radius: 10em;
    border: 2px solid #3c6650;
    background-color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    color: black;
}
.inputField:hover{
    background: rgba(6, 123, 4, 0.204);
}
.inputField2 {
    width: 20em;
    height: 3em;
    border-radius: 10em;
    background-color: #eeeeee;
    border: 2px solid #3c6650;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 15em;
}

.inputField2:hover{
    background: #4c8867;
}

.pictures_post_selector{
    width: 20em;
    height: 3em;
    border-radius: 10em;
    background-color: #eeeeee;
    border: 2px solid #00ff7b;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 2em;
}

.inputFieldDesc{
    margin-left: 8%;
    width: 100%;
    height: 5em;
    border-radius: 10em;
    background-color: #eeeeee;
    border: 2px solid #3c6650;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    margin-top: 2em;
    color: black;
}


#addPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 2em;
}

#login {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 2em;
}

#submit {
    font-family: 'Montserrat', sans-serif;
    border-radius: 2em;
    color: black;
    font-weight: bolder;
    background-color: #80c886;
    border: 2px solid #223f27;
    cursor: pointer;
    margin-top: 1em;
    font-size: 1em;
    height: 2em;
}

.newPost {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.newPost button {
    background-color: #673232;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.newPost button:hover {
    background-color: #982727;
}



.feed {
    flex: 1;
    margin-top: 5%;
    margin-right: 28%;
    margin-left: 22%;
    overflow-y: scroll; /* Permettre le défilement */
    padding: 20px;
    background: #eeeeee;
    border-radius: 10px;
    scrollbar-width: none; /* Pour Firefox */
    -ms-overflow-style: none;  /* Pour Internet Explorer et Edge */
    color: black;
    
}

.feed::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
}

.list_post {
    margin-bottom: 20px;
}



.post {
    background: #eeeeee;
    padding: 20px;
    /*border-radius: 10px;*/
    margin-bottom: 10px;
    border-bottom: 2px solid  rgba(163, 163, 163, 0.588);
    /*border: 2px solid black;*/
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex: 1;
}

.contentPost {
    margin-top: 5px;
    margin-left: 60px;
}

.ImagePost{/* Media queries pour ajuster taille image ? */
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-left: 60px;
    border-radius: 5%;
}

.LinkMore{
    border: 1px thin #223f27;
    border-radius: 25%;
    padding : 5px;
}

.More{
    width: 15px;
    height: auto;
    
}




.swipe {
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
    min-height: 200px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swipe-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.swipe-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
}

.swipe-item.active {
    display: block;
    opacity: 1;
}

.swipe-control-prev, .swipe-control-next {
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
}

.swipe-control-prev {
    left: 10px;
}

.swipe-control-next {
    right: 10px;
    margin-left: 60px;
}






/* Media queries pour ajuster les éléments lors de la réduction de la fenêtre */
@media screen and (max-width: 1200px) {
    

    .feed {
        margin: 0;
        width: 100%;
    }
}

/* Styles pour les éléments cachés en vue réduite */
@media screen and (max-width: 768px) { /*minimun sur mon navigateur*/
    

    .feed {
        width: calc(100% - 100px); /* Ajuster la largeur du feed */
        margin-left: 50px; /* Garder un espace pour la barre de gauche */
    }

  
}


