@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    background: #539070;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Empêcher le défilement de la page entière */
}