:root {
    --primary-color: #1DBF73;
    --secondary-color: #404145;
    --background-color: #F7F7F7;
    --text-color: #1C1C1C;
}

.search-add {
    margin-top: 10em;
}

.error-message {
    margin-top: 10em;
    color: red;
}

.modal,
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content,
.modal-content2 {
    background-color: #eeeeee;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 2em;
}

.close,
.close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
}

.beautiful-button {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 200px;
    margin: auto 0;
    height: 35px;
    align-items: center;
    font-size: 1rem;
    overflow: hidden;
}

.beautiful-button:hover {
    background: #1a9b6e;
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
}

.profilButton {
    margin-top: 2em;
}

#formAdvice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formAdvice input {
    margin-bottom: 1em;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#inputField,
#inputFieldDesc,
#inputField2 {
    border: 2px solid #2e7d32;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    color: black;
    box-sizing: border-box;
}

#inputField {
    width: 20em;
    height: 1.5em;
    border-radius: 10em;
    background-color: #ffffff;
}

#inputField2 {
    width: 20em;
    height: 3em;
    border-radius: 10em;
    background-color: #2e7d32;
    color: #ffffff;
    margin-top: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#inputFieldDesc {
    border-radius: 1em;
    box-sizing: border-box;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 1em;
    min-width: 30em;
    min-height: 10em;
    max-width: 20em;
    max-height: 15em;
    resize: none;
}

#inputField::placeholder,
#inputFieldDesc::placeholder {
    color: black;
    opacity: 1;
}

#inputField2:hover {
    background-color: #1b5e20;
}

#icon {
    height: 3em;
    padding-top: 1em;
    padding-right: 1em;
}

.adviceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advice a {
    color: black;
    text-decoration: none;
}

.advice {
    margin-bottom: 5em;
}

.profilPictureName,
.adviceData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profilPictureName i {
    padding-top: 2em;
    padding-left: 1em;
}

.profilPictureName p {
    padding-left: 1em;
    padding-top: 1em;
}

.adviceData li {
    padding-right: 2em;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1em);
}

.image-modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 500px;
    margin-top: 10em;
    margin-left: 30em;
}

.close-image-modal {
    position: absolute;
    top: 3em;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-image-modal:hover,
.close-image-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    height: 3em;
}