:root {
    --primary-color: #1DBF73;
    --secondary-color: #404145;
    --background-color: #F7F7F7;
    --text-color: #1C1C1C;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #eeeeee;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 2em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.beautiful-button {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-align: center;
    width: 200px;
    /* Taille fixe */
    margin: auto 0;
    /* Centrer le bouton */
    height: 35px;
    align-items: center;
    font-size: 1rem;
    /* Taille de police ajustée pour meilleure lisibilité */
    overflow: hidden;
    /* Évite que le texte dépasse du bouton */
}

.beautiful-button:hover {
    background: #1a9b6e;
    /* Couleur alternative au survol, légèrement plus foncée */
    transform: translateY(-2px);
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3);
    /* Ombre plus marquée au survol */
}

.profilButton {
    margin-top: 10em;
}

#formAdvice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formAdvice input {
    margin-bottom: 1em;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Champs de texte */
#inputField,
#inputFieldDesc,
#inputField2 {
    border: 2px solid #2e7d32;
    /* Bordure vert foncé */
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    color: black;
    box-sizing: border-box;
}

#inputField {
    width: 20em;
    height: 1.5em;
    border-radius: 10em;
    background-color: #ffffff;
}

#inputField2 {
    width: 20em;
    height: 3em;
    border-radius: 10em;
    background-color: #2e7d32;
    /* Fond vert foncé */
    color: #ffffff;
    /* Texte blanc */
    margin-top: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#inputFieldDesc {
    border-radius: 1em;
    box-sizing: border-box;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 1em;
    min-width: 30em;
    min-height: 10em;
    max-width: 20em;
    max-height: 15em;
    resize: none;
}

#inputField::placeholder,
#inputFieldDesc::placeholder {
    color: black;
    opacity: 1;
}

#inputField2:hover {
    background-color: #1b5e20;
}

#icon {
    height: 3em;
    padding-top: 1em;
    padding-right: 1em;
}

.adviceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adviceContainer a {
    color: black;
    text-decoration: none;
}

.advice {
    margin-bottom: 5em;
}

.profilPictureName,
.adviceData {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profilPictureName i {
    padding-top: 2em;
    padding-left: 1em;
}

.profilPictureName p {
    padding-left: 1em;
    padding-top: 1em;
}