{% extends "default.html.twig" %}

{% block title %}home
{% endblock %}

{% block stylesheet %}
<link href="/../public/css/home.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<p>test link</p>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% endblock %}