.ProfilContainer {
    background-color: #eeeeee;
    margin-top: 8em;
    height: 20em;
    width: 60em;
    margin-left: 20em;
    border-radius: 2em;
}



/* Style de la modal */
.modal, .modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content, .modal-content2 {
    background-color: #eeeeee; /* Fond blanc cassé */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 2em;
}

.modal-content2{
    margin-top: 10em;
}

.close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;  
}

.profil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em;
    padding-left: 1em;
}


.profilPictureName {
    display: flex;
    flex-direction: row;
}

#certifIcon {
    padding-left: 0.5em;
    padding-top: 2.5em;
    
    margin-top: -0.5%;
}

.profilPictureName h1 {
    padding-left: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-top: -0.5%;
}

#icon {
    height: 6em;
    border-radius: 50%;
}

.boton-elegante {
    padding: 8px 12px;
    border: 2px solid #223f27;
    background-color: #eeeeee;
    color: #000000;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
    margin-right: 0.5em;
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #223f27;
    background: #3c9048;
}

#formUpdateUser, #formPassPro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formUpdateUser input,
#formPassPro input {
    margin-bottom: 1em;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Champs de texte */
#inputField, #inputFieldDesc, #inputField2, #inputFieldDesc2 {
    border: 2px solid #2e7d32; /* Bordure vert foncé */
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    color: black;
    box-sizing: border-box;
}



#inputField {
    width: 20em;
    height: 1.5em;
    border-radius: 10em;
    background-color: #ffffff;
}

#inputField2 {
    width: 20em;
    height: 3em;
    border-radius: 10em;
    background-color: #2e7d32; /* Fond vert foncé */
    color: #ffffff; /* Texte blanc */
    margin-top: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#inputFieldDesc {
    border-radius: 1em;
    box-sizing: border-box;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 1em;
    min-width: 30em;
    min-height: 15em;
    max-width: 20em;
    max-height: 15em;
    resize: none; /* Empêcher le redimensionnement */
}

#inputFieldDesc2 {
    border-radius: 1em;
    box-sizing: border-box;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 1em;
    min-width: 30em;
    min-height: 15em;
    max-width: 55em;
    max-height: 80em;
    resize: none; /* Empêcher le redimensionnement */
}

.char-count {
    position: absolute;
    bottom: 25px;
    right: 10px;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
}

#inputField::placeholder,
#inputFieldDesc::placeholder,
#inputFieldDesc2::placeholder
{
    color: black;
    opacity: 1;
}
#inputField2:hover {
    background-color: #1b5e20;
}

.description {
    padding-left: 2em;
}

.description p {
    margin-top: 1.5em;
    font-size: 2em;
}

/* Bouton de sélection de fichier */
input[type=file]::file-selector-button {
    border: none;
    background: #2e7d32;
    padding: 8px 12px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10em;
    border: 2px solid #2e7d32;
    margin-left: 1em;
}


#labelText {
    padding-bottom: 0.5em;
}

.button-container {
    margin-left: 38em;
}

.profilPost, .profilFavorites{
    width: 32em;
    height: auto;
    margin-top: 3em;
    margin-left: 33em;
    margin-bottom: 3em;
}








.post {
    padding: 1em;
    background-color: #eeeeee;
    margin-bottom: 2em;
    border-radius: 3em;
}

.user-info {
    display: flex;
    flex-direction: row;
}

.user-info h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 2%;
}

.user-picture {
    height: 3em;
    padding: 1em;
    border-radius: 50%;
}

.datePost {
    padding-left: 5em;
    margin-top: -1em;
}

.contentPost {
    padding: 1em;
}

.contentPost h2 {
    font-family: 'Open Sans', sans-serif;
}

.icon {
    height: 5em;
}

.formDeletePost {
    padding-left: 6em;
    padding-top: 1em;
}

#deleteButton {
    background-color: transparent;
    border: none;
}

#deleteImage {
    height: 3em;
}

.viewMore {
    border-radius: 2em;
    background-color: #80c886;
    border: 2px solid #223f27;
}

.image-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1em);
}

.image-modal-content {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 500px;
    margin-top: 10em;
    margin-left: 30em;
}

.close-image-modal {
    position: absolute;
    top: 3em;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-image-modal:hover,
.close-image-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.interaction {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.heart,
.favorite {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.favorite {
    padding-left: 2em;
}

.heart:focus,
.favorite:focus {
    outline: none;
}

.heart i,
.favorite i {
    font-size: 24px;
    color: #000;
}

.heart.active i.fas {
    color: red;
}

.heart:hover i.far {
    color: red;
}

.favorite.active i.fas {
    color: yellow;
}

.favorite:hover i.far {
    color: yellow;
}

.total-likes2 {
    padding-top: 0.3em;
}

.total-likes3 {
    padding-top: 0.7em;
}

span {
    font-family: 'Montserrat', sans-serif;
}

.viewsPost {
    margin-top: 0.4em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 13em;
}




.crop-container {
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.crop-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

